// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

@widgets-indent__bottom: @indent__base;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .block-static-block,
    .block-cms-link {
        &.widget {
            .lib-css(margin-bottom, @widgets-indent__bottom);
            .links & {
                margin-bottom: 0;
            }
        }
    }

    .block-cms-link-inline {
        &.widget {
            margin: 0;
        }
    }

    .cms-page-view {

        .main {
            color: @text_color;
            font-family: @font-family-name__nunito;
            font-size: (@font-size__base + 0.1rem);
            line-height: 1.357;

            p {
                margin-bottom: 2.5rem;
            }
        }

        .page-main {
            background: @foreground_color;
        }
    }

    .privacy-policy-content {
        width: 100%;
        float: none;
        padding-left: 0;
    }

    .not-found {

        &-content {
            padding: 6rem 0 1.2rem;
            text-align: center;

            .btn {
                display: inline-block;
            }
        }

        &-img {
            margin-bottom: 3.6rem;

            img {
                max-width: 100%;
            }
        }

        &-title {
            color: @title_color;
            font-family: @font-family-name__nunito;
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.5;
            text-align: center;
            margin: 0 0 2rem;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {

    .not-found {

        &-img {

            img {
                max-width: 386px;
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

    .privacy-policy-content {
        width: 100%;
        float: none;
        padding-left: 0;
    }

    .not-found {

        &-content {
            padding: 3rem 0 3rem;
        }

        &-img {
            margin-bottom: 3.5rem;
        }

        &-title {
            line-height: 1;
            margin: 0 0 2.5rem;
        }
    }
}
