<?php
/**
 * Copyright © Magefan (support@magefan.com). All rights reserved.
 * See LICENSE.txt for license details (http://opensource.org/licenses/osl-3.0.php).
 *
 * Glory to Ukraine! Glory to the heroes!
 */
?>
<?php
/**
 * Blog post list item template
 *
 * @var $block \Magefan\Blog\Block\Post\AbstractPost
 */
?>
<?php
    $_post = $this->getPost();
    $_postUrl = $_post->getPostUrl();
    $_postName = $block->escapeHtml($_post->getTitle(), null, true);
?>
<li class="post-holder post-holder-<?php echo $_post->getId() ?>">
    <div class="recent-posts-item">
        <div class="recent-posts-image">
            <?php if($featuredImage = $_post->getFeaturedImage()): ?>
                <a href="<?php echo $_postUrl ?>" class="recent-posts-img-link"><img src="<?php echo $featuredImage ?>" alt="<?php echo $_postName ?>" class="recent-posts-img"/></a>
            <?php endif; ?>
        </div>
        <div class="recent-posts-title">
            <a href="<?php echo $_postUrl ?>" ><?php echo $_postName; ?></a>
        </div>
        <div class="recent-posts-descr"><?php echo $block->getShorContent() ?></div>
        <div class="recent-posts-more">
            <a class="post-read-more" href="<?php echo $_postUrl ?>" title="<?php echo $_postName ?>">
               <?php echo __('Mostra di più') ?>
            </a>
        </div>
    </div>

        <div class="addthis_toolbox addthis_default_style"
                addthis:url="<?php echo $_postUrl ?>"
                addthis:title="<?php echo $_postName; ?>"
                <?php if ($firstImage = $_post->getFirstImage()) { ?>
                addthis:media="<?php echo $firstImage ?>"
                <?php } ?>>
                <a class="addthis_button_facebook"></a>
                <a class="addthis_button_twitter"></a>
                <a class="addthis_button_email"></a>
                <a class="addthis_button_compact"></a>
        </div>
        <?php echo $this->getInfoHtml() ?>
</li>
