<?php
/**
 * Copyright © 2015 Ihor Vansach (ihor@magefan.com). All rights reserved.
 * See LICENSE.txt for license details (http://opensource.org/licenses/osl-3.0.php).
 *
 * Glory to Ukraine! Glory to the heroes!
 */
?>
<?php
/**
 * Blog sidebar recent posts template
 *
 * @var $block \Magefan\Blog\Block\Sidebar\Recent
 */
?>

<?php
	$_postCollection = $block->getPostCollection();
?>
<section class="recent-posts">
    <div class="page-main">
        <?php if ($_postCollection->count()) { ?>
            <h3 class="page-title"><?php echo $block->escapeHtml($block->getTitle()) ?></h3>
            <div class="recent-posts-list">
                <?php foreach ($_postCollection as $_post) { ?>
                    <?php
                        $_postUrl = $_post->getPostUrl();
                        $_postName = $block->escapeHtml($_post->getTitle(), null, true);
                    ?>
                    <div class="recent-posts-item">
                        <div class="recent-posts-image">
                            <?php if($featuredImage = $_post->getFeaturedImage()): ?>
                                <a href="<?php echo $_postUrl ?>" class="recent-posts-img-link"><img src="<?php echo $featuredImage ?>" alt="<?php echo $_postName ?>" class="recent-posts-img"/></a>
                            <?php endif; ?>
                        </div>
                        <div class="recent-posts-title">
                            <a href="<?php echo $_postUrl ?>" ><?php echo $_postName; ?></a>
                        </div>
                        <div class="recent-posts-descr"><?php echo $block->getShorContent($_post) ?></div>
                    </div>
                <?php } ?>
            </div>
        <?php } ?>
    </div>
</section>
