// /**
//  * Copyright © 2015 Magento. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@checkout-wrapper__margin: @indent__base;
@checkout-wrapper__columns: 16;

@checkout-step-title__border: @border-width__base solid @color-gray80;
@checkout-step-title__font-size: 22px;
@checkout-step-title__font-weight: @font-weight__light;
@checkout-step-title__padding: @indent__s;

@checkout-step-title-mobile__font-size: 18px;

@checkout-step-content-mobile__background: @color-gray-light01;
@checkout-step-content-mobile__margin-s: 15px;
@checkout-step-content-mobile__margin: @indent__base -(@checkout-step-content-mobile__margin-s) @checkout-step-content-mobile__margin-s;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    .checkout-index-index,
    .checkout-onepage-success {

        .field-tooltip .field-tooltip-content {
            top: 27px;
            right: 0;
            left: auto;
            margin-left: 0;

            &:before,
            &:after {
                top: -20px;
                right: 3px;
                left: auto;
                transform: rotate(90deg);
                margin-right: 0;
            }
        }

        .page-title-wrapper {
            &:extend(.abs-visually-hidden all);
        }

        .page-header .logo {
            padding-left: 0;
            padding-right: 0;
        }
    }

    .checkout-container {
        &:extend(.abs-add-clearfix all);
        .lib-css(margin, 0 0 @checkout-wrapper__margin);
    }

    .opc-wrapper {
        .lib-css(margin, 0 0 @checkout-wrapper__margin);

        .opc {
            &:extend(.abs-reset-list all);
        }

        .step-title {
            &:extend(.abs-checkout-title all);
            .lib-css(border-bottom, @checkout-step-title__border);
        }

        .step-content {
            margin: 0 0 @indent__xl;
        }
    }

    .checkout-index-index {
        font-family: @font-family-name__nunito;
        font-size: 1.4rem;
        line-height: 1;

        .page-main {
            padding-left: 0;
            padding-right: 0;
        }

        .page-header {
            text-align: center;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);
            z-index: 5;
            position: relative;

            .header.content {
                .justify-content-center;
                padding: 1.2rem 3.2rem;
            }

            .panel.wrapper,
            .nav-toggle,
            .header-col {
                display: none;
            }
        }

        .minicart-items .product-item:not(:first-child) {
            border-top: none;
        }

        .breadcrumbs,
        .page-main {
            z-index: 3;
        }

        .fieldset .field.required > .label:after,
        .fieldset .fields > .field.required > .label:after,
        .fieldset .field._required > .label:after,
        .fieldset .fields > .field._required > .label:after {
            content: '*';
            color: @title_color;
            font-size: @font-size__base;
            margin: 0 0 0 0.15rem;
            font-weight: 400;
            line-height: 1.385;
        }

        .fieldset {
            border: 0;
            margin: 0;
            padding: 0;
            letter-spacing: 0;
        }

        .fieldset.address {
            margin: 0;

            > .field {
                padding: 0;
            }
        }

        .opc-estimated-wrapper {
            display: none;
        }

        .opc-wrapper .form-login,
        .opc-wrapper .form-shipping-address,
        .opc-wrapper .methods-shipping {
            background: @color-white;
            margin: 0;
            padding: 0;
        }

        .opc-wrapper .form-login {
            border-bottom: none;
            padding-bottom: 0.6rem;
        }

        .opc-wrapper .form-login,
        .opc-wrapper .form-shipping-address {
            margin-top: 0;
            margin-bottom: 0;
            border: none;
        }

        .opc-wrapper .form-login .fieldset .note,
        .opc-wrapper .form-shipping-address .fieldset .note {
            font-size: 1.3rem;
            margin-top: 1rem;
            line-height: 1.385;
            color: rgba(35,31,32,0.4);
        }

        .opc-wrapper .form-login .fieldset .note {
            margin-bottom: 1.3rem;
        }

        .form {

            label {
                color: @title_color;
                font-family: @font-family-name__nunito;
                font-size: @font-size__base;
                line-height: 1;
                margin-bottom: 1.2rem;
                display: inline-block;
            }

            .field {
                margin-bottom: 2.4rem;
            }
        }

        p {
            margin-bottom: 2.4rem;
        }

        .field-tooltip {
            right: 0px;
            top: 12px;
        }

        .field-tooltip .field-tooltip-action:before {
            font-size: 15px;
            color: #444;
            width: 16px;
            height: 18px;
            line-height: 18px;
        }

        .field-tooltip .field-tooltip-action:hover:before {
            color: @theme-color;
        }

        .field-tooltip .field-tooltip-content:after {
            border-right-color: @title_color;
        }

        .field-tooltip .field-tooltip-content:before {
            border-right-color: @title_color;
        }

        .field-tooltip .field-tooltip-content:before,
        .field-tooltip .field-tooltip-content:after {
            border-right-color: @title_color;
        }

        .field-tooltip .field-tooltip-content {
            background: @title_color;
            border: 1px solid @title_color;
            border-radius: 2px;
            color: @color-white;
            font-family: @font-family-name__nunito;
            font-size: 1.4rem;
            line-height: 1.357;
            padding: 1.6rem;
        }

        .layout-3-columns .shipping-address-item {
            width: 100%;
        }

        .logo {
            margin-left: 0;
        }

        div#checkout {
            background: @foreground_color;
            padding: 1.6rem 0 0;
            margin: 0;

            > .opc-wrapper {

                > .opc {
                    padding: 0 1.6rem;

                    &:last-child {
                        padding: 0;
                    }
                }
            }
        }

        .checkout-block {
            background: @foreground_color;
            box-shadow: none;
            padding: 0;
            margin: 0;

            &:hover {
                box-shadow: none;
            }
        }

        .opc-wrapper {

            .step-title {
                border-bottom: none;
                padding: 0 0 0;
                margin: 0 0 2.5rem;
                display: block;
                color: @title_color;
                font-family: @font-family-name__nunito;
                font-size: 20px;
                font-weight: bold;
                line-height: 1;
            }

            .checkout-block {
                background: @foreground_color;
                box-shadow: none;
                padding: 0;
                margin: 0;

                &:hover {
                    box-shadow: none;
                }
            }
        }

        .checkout-shipping-address .step-title:before {
            content: "1.";
            color: @theme-color;
            font-family: @font-family-name__nunito;
            font-size: 20px;
            font-weight: bold;
            line-height: 1;
            margin-right: 0.6rem;
            display: inline-block;
        }

        .checkout-shipping-method .step-title:before {
            content: "2.";
            color: @theme-color;
            font-family: @font-family-name__nunito;
            font-size: 20px;
            font-weight: bold;
            line-height: 1;
            margin-right: 0.5rem;
            display: inline-block;
        }

        .checkout-payment-method .step-title:before {
            content: "3.";
            color: @theme-color;
            font-family: @font-family-name__nunito;
            font-size: 20px;
            font-weight: bold;
            line-height: 1;
            margin-right: 0.5rem;
            display: inline-block;
        }

        .field.street .control {

            .label {
                display: none;
            }

            .field._required {
                margin-bottom: 1.2rem;
            }

            .field.additional {
                margin-bottom: 0;
            }
        }

        .fieldset > .field .additional,
        .fieldset > .fields > .field .additional {
            margin-top: 0;
        }

        .checkout-payment-method {

            .payment-method + .payment-method .payment-method-title {
                border-top: none;
            }

            .payment-method-content {
                padding: 0 0 1rem 3.2rem;

                dl {
                    margin: 0;
                    line-height: 1.2;
                    padding-left: 3.2rem;
                }
            }

            .form .field {
                margin-bottom: 0;
                padding: 0;
            }

            .payment-methods {
                margin-top: 4.1rem !important;

                .payment-method {

                    .label {
                        margin-bottom: 2.1rem;
                    }
                }
            }
        }

        select {
            height: 40px;
        }

        .opc-wrapper {

            .opc-block-summary {
                margin: 0;
                padding: 2.4rem 0 0;
                background: @footer_bg;
                .flex;
                .flex-direction-column;

                .table-totals {
                    border-top: none;
                    padding-top: 0;
                    order: -1;
                    display: block;
                    width: 100%;
                    padding: 0 0 2.3rem;

                    tbody,
                    tr, th, td {
                        display: block;
                    }

                    .totals {
                        .flex;
                        .justify-content-between;
                        .align-items-center;
                        width: 100%;
                        color: @title_color;
                        font-family: @font-family-name__nunito;
                        font-size: 1.4rem;
                        line-height: 1.357;
                        padding-bottom: 2rem;
                        padding-right: 1.6rem;
                        padding-left: 1.6rem;

                        .mark,
                        .amount {
                            border: none;
                            padding: 0;
                            font-size: 1.4rem;
                        }
                    }

                    .grand.totals {
                        border-top: 1px solid @border_review;
                        padding: 2.2rem 1.6rem;
                        color: @title_color;
                        font-family: @font-family-name__nunito;
                        font-size: 1.4rem;
                        font-weight: bold;
                        line-height: 1;

                        .mark,
                        .amount {
                            border: none;
                            padding: 0;
                            font-size: 1.4rem;

                            strong {
                                padding: 0;
                                margin: 0;
                                font-weight: bold;
                            }
                        }
                    }
                }

                + .additional-options {
                    margin: 0;
                    background: @footer_bg;

                    .admin__field-option {
                        border-top: 1px solid @border_review;
                        padding: 2.8rem 1.6rem 0;
                    }

                    .field {
                        margin: 0;
                        padding: 2.4rem 1.6rem;

                        .label {
                            display: block;
                            margin-bottom: 1.6rem;
                            color: @title_color;
                            font-family: @font-family-name__nunito;
                            font-size: @font-size__base;
                            line-height: 1;
                        }
                    }

                    input[type="checkbox"] + label {
                        background: none;
                        font-size: 1.4rem;
                    }

                    input[type="checkbox"]:checked + label:before,
                    label input[type="checkbox"]:checked + span:before {
                        background: @color-white;
                    }
                }

                 > .title {
                    display: block;
                    padding: 0 1.6rem 0;
                    margin-bottom: 2.3rem;
                    color: @title_color;
                    font-family: @font-family-name__nunito;
                    font-size: 2rem;
                    font-weight: bold;
                    line-height: 1;
                    order: -2;
                }
            }

            .block.items-in-cart {

                > .title {
                    border-bottom: none;
                    padding: 1.6rem 1.6rem 1.6rem;
                    margin-bottom: 0;
                    position: relative;
                    color: @title_color;
                    font-family: @font-family-name__nunito;
                    font-size: 1.6rem;
                    font-weight: bold;
                    line-height: 1.25;

                    strong {
                        font-size: 1.6rem;
                        font-weight: bold;
                        margin: 0;
                    }

                    &:after {
                        font-size: 9px;
                        line-height: 16px;
                        color: @title_color;
                        margin: 0;
                        text-align: center;
                        position: absolute;
                        right: 1.6rem;
                        top: 38%;
                        margin-top: 0;
                    }
                }

                > .minicart-items {
                    padding: 0 1.6rem;

                    .minicart-items-wrapper {
                        margin: 0;
                        max-height: 100%;
                        padding: 0;
                        border: 0;
                    }

                    .product-item {
                        margin: 0;
                        padding: 0 0 1.6rem;

                        .product-item-inner {
                            .flex;
                            margin: 0;
                            width: 100%;
                            .flex-direction-column;
                        }

                        .subtotal {
                            display: block;
                            text-align: left;
                            color: @title_color;
                            font-family: @font-family-name__nunito;
                            font-size: 1.4rem;
                            font-weight: bold;
                            line-height: 1;

                            span {
                                padding: 0;
                                margin: 0;
                            }
                        }

                        .price {
                            color: @title_color;
                            font-family: @font-family-name__nunito;
                            font-size: 1.4rem;
                            font-weight: bold;
                            line-height: 1;
                        }
                    }

                    .delete {
                        display: none;
                    }

                    .product-image-container {
                        margin-left: 0;
                    }

                    .product-item-details {
                        padding-left: 87px;

                        .details-qty {
                            margin-top: 0;
                            display: none;
                        }
                    }

                    .product-item-name-block {
                        display: block;
                        padding: 0;
                        text-align: left;

                        .product-item-name {
                            color: @title_color;
                            font-family: @font-family-name__nunito;
                            font-size: 1.4rem;
                            line-height: 1.5;
                            text-transform: uppercase;
                            margin: 0 0 0.6rem;
                        }
                    }
                }
            }
        }

        .checkout-payment-method.submit {

            > .payment-methods {
                margin: 0 !important;
            }
        }

        .opc-payment-additional.discount-code {
            padding: 2.4rem 1.6rem 2.5rem;
            border-top: 1px solid @border_review;
            background: @footer_bg;

            .payment-option-content {
                padding: 0;
                margin-top: 2.4rem;
            }

            .payment-option-title {
                padding: 0;
                margin: 0;
            }

            .action-toggle {
                color: @title_color;
                font-family: @font-family-name__nunito;
                font-size: 1.4rem;
                font-weight: bold;
                line-height: 1.357;
                text-decoration: none;
                position: relative;
                width: 100%;
                display: block;

                &:after {
                    font-size: 9px;
                    line-height: 16px;
                    color: @title_color;
                    margin: 0;
                    text-align: center;
                    position: absolute;
                    right: 0;
                }
            }

            .form-discount {
                .flex;
                .justify-content-start;
                .align-items-center;
                width: 100%;

                > .payment-option-inner {
                    margin: 0;
                    width: 100%;
                }

                .actions-toolbar .action-apply {
                    display: inline-block;
                    font-family: @font-family-name__nunito;
                    color: @color-white;
                    border: none;
                    background-color: @title_color;
                    box-shadow: none;
                    font-size: 1.3rem;
                    line-height: 1.077;
                    font-weight: 700;
                    text-decoration: none;
                    padding: 1.2rem 1.8rem 1.2rem;
                    border-radius: 0 2px 2px 0;
                    height: 40px;
                    margin: 0;
                    width: 127px;
                }
            }
        }

        .checkout-payment-method.submit {
            background: @footer_bg;
            padding: 0 1.6rem 2.4rem;

            .payment-methods .actions-toolbar .primary {
                line-height: 1.077;
                padding: 14px 17px;
                font-size: 1.3rem;
                background: @title_color;
                width: 100%;
                text-align: center;
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

    .checkout-index-index {
        .checkout-payment-method .payment-option {
            margin: 0;
        }
    }

}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

    .checkout-index-index {

        .opc-wrapper .form-login .fieldset .note {
            margin-bottom: 0;
        }

        .field-tooltip .field-tooltip-content {
            top: 27px;
            right: auto;
            left: 50%;
            margin-left: -135px;

            &:before,
            &:after {
                top: -20px;
                right: 50%;
                left: auto;
                transform: rotate(90deg);
                margin-right: -10px;
            }
        }

        .page-main {
            padding-left: 0;
            padding-right: 0;
        }

        div#checkout {
            background: @foreground_color;
            padding: 3.2rem;
            margin: 0;

            > .opc-wrapper {

                > .opc {
                    padding: 0 1.6rem;

                    &:first-child {
                        padding-left: 0;
                    }

                    &:last-child {
                        padding-right: 0;
                        padding-left: 1.6rem;
                    }
                }
            }
        }

        .opc-wrapper .opc-block-summary > .title,
        .opc-wrapper .opc-block-summary .table-totals .totals,
        .opc-wrapper .opc-block-summary .table-totals .grand.totals,
        .opc-wrapper .block.items-in-cart > .title,
        .opc-wrapper .block.items-in-cart > .minicart-items,
        .opc-wrapper .opc-block-summary + .additional-options .admin__field-option,
        .opc-wrapper .opc-block-summary + .additional-options .field,
        .opc-payment-additional.discount-code,
        .checkout-payment-method.submit {
            padding-left: 2.4rem;
            padding-right: 2.4rem;
        }

        .opc-wrapper .block.items-in-cart > .title:after {
            right: 2.4rem;
        }

        .opc-wrapper {

            .step-title {
                border-bottom: 1px solid rgba(216,216,216,0.4);
                padding: 0 0 2.8rem;
                margin: 0 0 2.4rem;
                display: block;
                color: @title_color;
                font-family: @font-family-name__nunito;
                font-size: 20px;
                font-weight: bold;
                line-height: 1;
            }
        }
    }

    .opc-wrapper {
       &:extend(.abs-add-box-sizing-desktop-m all);
        .lib-layout-column(2, 1, @checkout-wrapper__columns);
        width: 66%;
        padding-right: @indent__l;
    }
}
