/**
 * Productslider
 *
 * @package     Ulmod_Productslider
 * @author      Ulmod <support@ulmod.com>
 * @copyright   Copyright (c) 2016 Ulmod (http://www.ulmod.com/)
 * @license     http://www.ulmod.com/license-agreement.html
 */

/** general **/
.um-prodslider .title-block {
    text-align: center;
}
.um-prodslider .title-block h2 {
    font-size: 22px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 8px;
}
.um-prodslider .small-divider {
    position: relative;
    width: 60px;
    height: 3px;
    margin: 0 auto;
    background: #e1e1e1;
}
.um-prodslider .um-info {
    padding: 10px 0px;
}
.um-prodslider .products-grid .product-item-info .product-item-inner {
    box-shadow: none;
    border: none;
    padding: 0;
    margin: 0;
    position: relative;
}
.um-prodslider .products-grid .product-item-info:not(:hover):not(.active) .product-item-inner {
    position: relative;
    box-shadow: none;
    border: none;
    padding: 10px 0px;
    height: auto;
    width: auto;
    overflow: visible;
    margin: 0;
}
.um-prodslider .products-grid .product-item-info:hover,
.um-prodslider .products-grid .product-item-info.active {
    box-shadow: none;
    border: none;
    margin: auto;
    padding: 10px 0px;
}
.um-prodslider .products-grid .product-item-actions {
    margin: 0;
}
.um-prodslider .tocart {
    padding: 2px 9px !important;
    line-height: 0px !important;
    height: 30px !important;
    width: 100%;
    border: 1px solid #006bb4;
    border-radius: 0px;
    box-shadow: none;
    font-size: 13px;
}
.um-prodslider .towishlist,
.um-prodslider .tocompare {
    padding: 5px 10px !important;
    line-height: 0px !important;
    background-color: white !important;
    color: #006bb4;
    border: 1px solid #ececec;
}
.um-prodslider .tocompare::before {
    content: "\f080";
    font-family: 'FontAwesome' !important;
}
.um-prodslider .tocart::before {
    content: "\f07a";
    font-family: 'FontAwesome' !important;
}
.um-prodslider .towishlist::before {
    content: "\f004";
    font-family: 'FontAwesome' !important;
}
.um-prodslider .tocart:hover,
.um-prodslider .towishlist:hover,
.um-prodslider .tocompare:hover {
    background-color: #006bb4 !important;
    color: white !important;
}

/** slick carousel slider **/
.um-prodslider .slider-list .slick-slider {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding: 0 25px;
}
.um-prodslider .slider-list .slick-slider .slick-slide {
    margin-left: 0;
}
.um-prodslider .slider-list .slick-slider .slick-prev:before,
.um-prodslider .slider-list .slick-slider .slick-next:before {
    color: #000;
}
.um-prodslider .slider-list .slick-slider .slick-prev {
    left: 0;
}
.um-prodslider .slider-list .slick-slider .slick-next {
    right: 0;
}
.um-prodslider .slider-list .slick-slider button.slick-arrow {
    box-shadow: none;
}
.um-prodslider .slider-list .slick-slider button.slick-arrow:hover,
.um-prodslider .slider-list .slick-slider button.slick-arrow:active,
.um-prodslider .slider-list .slick-slider button.slick-arrow:focus {
    border: none;
}
.block.widget .products-grid .product-item.slick-slide {
    margin-left: inherit !important;
}
.product-item-info {
    width: initial;
    padding: 10px;
}
.slick-dots li button::before {
    font-size: 10px;
}
.um-prodslider .slick-prev::before,
.um-prodslider .slick-next::before {
    font-size: 25px;
}
.slick-prev::before {
    content: "\f0a8";
    font-family: 'FontAwesome';
}
.slick-next::before {
    content: "\f0a9";
    font-family: 'FontAwesome';
}
.slick-prev.slick-disabled::before,
.slick-next.slick-disabled::before {
    opacity: 1;
}

/** owl carousel slider **/
.um-prodslider .owl-prev,
.um-prodslider .owl-next {
    width: 32px;
    height: 32px;
    margin: 0;
    top: 30%;
    margin-top: -16px;
}
.um-prodslider .owl-next .fa-arrow-circle-right,
.um-prodslider .owl-prev .fa-arrow-circle-left {
    color: #333;
    font-size: 25px;
}
/** grid **/
.template-type-grid {
    padding: 0;
    list-style: none none;
    margin: 0;
}
.template-type-grid .um-product-item {
    margin-top: 0rem;
    display: inline-block;
    padding: 0;
    width: 24.439%;
    margin-bottom: 20px;
}

/** quickview **/
.ulmod-quickview-catalog-product-view .box-tocart .action.tocart {
    width: 100%;
}
.ulmod-quickview-catalog-product-view .page-wrapper .page-main {
    margin: 20px 0;
}
.ulmod-quickview-catalog-product-view .reviews-actions .add {
    display: none;
}
.box-gotoproduct #product-gotoproduct-button {
    width: 100%;
    padding: 14px 17px;
    font-size: 1.8rem;
    text-align: center;
}
.page-products .product-item .ulmod-quickview {
    display: none;
}

/** rwd **/
@media (max-width: 767px) {
    .columns .column {
        min-width: 0;
        min-height: 0;
    }
}