// /**
//  * Copyright © 2018 Magento. All rights reserved.
//  * See COPYING.txt for license details.
//  */
& when (@media-common = true) {

    .contact-index-index {

        .fieldset {
            border: 0;
            margin: 0;
            padding: 0;
            letter-spacing: 0;
        }

        .fieldset .field.required > .label:after,
        .fieldset .fields > .field.required > .label:after,
        .fieldset .field._required > .label:after,
        .fieldset .fields > .field._required > .label:after {
            content: '*';
            color: @title_color;
            font-size: @font-size__base;
            margin: 0 0 0 0.15rem;
            font-weight: 400;
            line-height: 1.385;
        }

        .page-main {
            background: @foreground_color;
            padding-top: 2.4rem;
        }

        .form.contact {
            margin-top: 0.8rem;

            label {
                color: @title_color;
                font-family: @font-family-name__nunito;
                font-size: @font-size__base;
                line-height: 1;
                margin-bottom: 1.2rem;
                display: inline-block;
            }

            .field {
                margin-bottom: 2.4rem;
            }
        }

        .actions-toolbar {
            text-align: right;

            .btn.btn-custom {
                min-width: 150px;
            }
        }
    }

    .contact-us {

        &-wrapper {
            color: @title_color;
            font-family: @font-family-name__nunito;
            font-size: 1.4rem;
            line-height: 1.5;

            > p {
                margin-bottom: 1.9rem;
            }

            a {
                color: @title_color;
                text-decoration: none;

                &:hover {
                    text-decoration: none;
                    color: @theme-color;
                }
            }
        }

        &-box {
            font-weight: bold;
        }

        &-item {
            margin-bottom: 3.2rem;
        }
    }

    .actions-toolbar > .primary:last-child {
        float: none;
        text-align: right;
    }

}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

    .contact-index-index {

        .page-main {
            background: @foreground_color;
            padding-top: 3.2rem;
        }

        .page-title,
        .contact-us-wrapper,
        .form.contact {
            max-width: 673px;
            position: relative;
            margin-right: auto;
            margin-left: auto;
        }

        .form.contact {
            padding-bottom: 1.6rem;
        }

        .actions-toolbar {
            text-align: right;
        }

        .contact-form-line {
            .flex;
            .justify-content-between;

            > .field {
                width: 50%;

                &:first-child {
                    padding-right: 1.6rem;
                }

                &:last-child {
                    padding-left: 1.6rem;
                }
            }
        }
    }

}
