<?php
/** @var $block \Emporio\Catalog\Block\Product\View\FreeShipping */
?>

<?php if ($block->isFreeShippingEnabled()) : ?>
<div class="label-free">
    <span class="label-free-shipping"><?php echo __('Spedizione gratuita in Italia'); ?></span>
</div>
<?php endif; ?>
