<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2018 Amasty (https://www.amasty.com)
 * @package Amasty_ShopbyBase
 */
?>
<?php

use Amasty\ShopbyBase\Plugin\Catalog\Block\Product\View\BlockHtmlTitlePluginAbstract as TitlePlugin;

/** @var $block \Magento\Framework\View\Element\Template */
$optionsData = $block->getData('options_data');
?>

<?php foreach ($optionsData as $setting) : ?>
    <?php $title = $block->stripTags($setting[TitlePlugin::TITLE]) ?>
    <div class="amshopby-option-link">
        <a href="<?= /* @escapeNotVerified */ $setting[TitlePlugin::LINK_URL] ?>"
            <?= isset($setting[TitlePlugin::TOOLTIP_JS]) ? $setting[TitlePlugin::TOOLTIP_JS] : '' ?>
        >
            <?= /* @escapeNotVerified */ $title; ?>
<!--            <img-->
<!--                title="--><?//= /* @escapeNotVerified */ $title; ?><!--"-->
<!--                alt="--><?//= /* @escapeNotVerified */ $title; ?><!--"-->
<!--                src="--><?//= /* @escapeNotVerified */ $setting[TitlePlugin::IMAGE_URL] ?><!--"-->
<!--            />-->
        </a>
        <?php if (isset($setting[TitlePlugin::SHORT_DESCRIPTION]) && $setting[TitlePlugin::SHORT_DESCRIPTION]) : ?>
            <span class="link-short-description">
                    <?= $block->escapeHtml($setting[TitlePlugin::SHORT_DESCRIPTION]);?>
            <span>
        <?php endif; ?>
    </div>
<?php endforeach; ?>

<script>
    require([
        'jquery',
        "mage/tooltip"
    ], function ($) {
        $('.amshopby-option-link [data-amshopby-js="brand-tooltip"]').tooltip({
            position: {
                my: "left bottom-10",
                at: "left top",
                collision: "flipfit flip",
                using: function (position, feedback) {
                    $(this).css(position);
                    $("<div>")
                        .addClass("arrow")
                        .addClass(feedback.vertical)
                        .addClass(feedback.horizontal)
                        .appendTo(this);
                }
            },
            tooltipClass: "amshopby-brand-tooltip",
            content: function () {
                var current = $(this).is('a') ? $(this) : $(this).parent();
                return current.data('tooltip-content');
            }
        });
    });
</script>
