// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .breadcrumbs {
        .lib-breadcrumbs();
    }

    .breadcrumbs {
        padding: 3.5rem 0 2.2rem;
        margin: 0;
        z-index: 5;
        position: relative;
        background: @foreground_color;
        color: @title_color;
        font-family: @font-family-name__nunito;
        font-size: @font-size__base;
        line-height: 1.385;

        .items {
            color: @title_color;
            font-family: @font-family-name__nunito;
            font-size: @font-size__base;
            line-height: 1.385;

            a,
            a:visited {
                color: @breadcrumb_color;
            }

            a:hover {
                color: @title_color;
                text-decoration: none;
            }
        }

        .item {

            &:not(:last-child):after {
                color: @breadcrumb_color;
                font-family: @font-family-name__nunito;
                font-size: @font-size__base;
                content: '/';
            }
        }
    }
}
