// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    .tooltip.wrapper {
        .lib-tooltip(
        @_tooltip-position: bottom,
        @_tooltip-selector-content: ~'.tooltip.content',
        @_tooltip-selector-toggle: ~'tooltip.toggle'
        );
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {

}
