/**** custom font****/
.lib-font-face(
    @family-name: 'Nunito',
    @font-path: '@{baseDir}fonts/nunito/regular/Nunito-Regular',
    @font-weight: 400,
    @font-style: normal
);
.lib-font-face(
    @family-name: 'Nunito',
    @font-path: '@{baseDir}fonts/nunito/regular/Nunito-Italic',
    @font-weight: 400,
    @font-style: italic
);
.lib-font-face(
    @family-name: 'Nunito',
    @font-path: '@{baseDir}fonts/nunito/light/Nunito-Light',
    @font-weight: 300,
    @font-style: normal
);
.lib-font-face(
    @family-name: 'Nunito',
    @font-path: '@{baseDir}fonts/nunito/light/Nunito-LightItalic',
    @font-weight: 300,
    @font-style: italic
);
.lib-font-face(
    @family-name: 'Nunito',
    @font-path: '@{baseDir}fonts/nunito/extralight/Nunito-ExtraLight',
    @font-weight: 200,
    @font-style: normal
);
.lib-font-face(
    @family-name: 'Nunito',
    @font-path: '@{baseDir}fonts/nunito/extralight/Nunito-ExtraLightItalic',
    @font-weight: 200,
    @font-style: italic
);
.lib-font-face(
    @family-name: 'Nunito',
    @font-path: '@{baseDir}fonts/nunito/semibold/Nunito-SemiBold',
    @font-weight: 600,
    @font-style: normal
);
.lib-font-face(
    @family-name: 'Nunito',
    @font-path: '@{baseDir}fonts/nunito/semibold/Nunito-SemiBoldItalic',
    @font-weight: 600,
    @font-style: italic
);
.lib-font-face(
    @family-name: 'Nunito',
    @font-path: '@{baseDir}fonts/nunito/bold/Nunito-Bold',
    @font-weight: 700,
    @font-style: normal
);
.lib-font-face(
    @family-name: 'Nunito',
    @font-path: '@{baseDir}fonts/nunito/bold/Nunito-BoldItalic',
    @font-weight: 700,
    @font-style: italic
);
.lib-font-face(
    @family-name: 'Nunito',
    @font-path: '@{baseDir}fonts/nunito/extrabold/Nunito-ExtraBold',
    @font-weight: 800,
    @font-style: normal
);
.lib-font-face(
    @family-name: 'Nunito',
    @font-path: '@{baseDir}fonts/nunito/extrabold/Nunito-ExtraBoldItalic',
    @font-weight: 800,
    @font-style: italic
);
.lib-font-face(
    @family-name: 'Nunito',
    @font-path: '@{baseDir}fonts/nunito/black/Nunito-Black',
    @font-weight: 900,
    @font-style: normal
);
.lib-font-face(
    @family-name: 'Nunito',
    @font-path: '@{baseDir}fonts/nunito/black/Nunito-BlackItalic',
    @font-weight: 900,
    @font-style: italic
);

.page-title {
    color: @title_color;
    font-family: @font-family-name__nunito;
    font-size: @h3__font-size;
    font-weight: 700;
    line-height: 33px;
    margin-bottom: 2.4rem;
    text-align: left;
}
