//
//  Emporio theme variables
//  _____________________________________________

// Layout
// ----------------------------------------------
@theme-layout__max-width: 1440px;

//  Typography
//  ---------------------------------------------
@font-family-name__base:   'Nunito';
@font-family-name__nunito: 'Nunito';
@font-family__base: @font-family-name__base, @font-family__sans-serif;
@font-path:  "../../fonts/";

//  Colors nesting
@page__background-color:      @foreground_color;
@color-gray56:                #fbfbfb;
@copyright__background-color: @color-gray56;

@toolbar-background: @color-white;
@toolbar-element-background: @color-white;

// New Colors
@theme-color:           #FFB74B;
@foreground_color:      @color-white;
@header_dark_bg:        #231F20;
@footer_bg:             #FBFBFB;
@bg_01:                 #fff7ed;
@bg_02:                 #EDF1F2;
@bg_03:                 #F2EDED;
@bg_04:                 #eeeeee;
@bg_05:                 #f1f2ed;

@border_btn_shop:       #DFDEDE;
@border_review:         #D8D8D8;

@font-size__base: 1.3rem;

@title_color:           #231F20;
@text_color:            #343841;
@breadcrumb_color:      #bdbcbc;
@review_color:          #7B7979;
@icon_txt_color:        #111111;

@link_hover__color:     #FFB74B;

@minicart-icons-color:  #FFB74B;

@custom_green: #23A12C;
@custom_red:   #FF4B4B;


//  Icons
//  ---------------------------------------------
@icon-facebook: '\e60e';
@icon-twitter:  '\e60e';
@icon-insta:    '\e60e';
@icon-success: '\e60e';
@icon-error: '\e61f';
@icon-edit: '\e601';
@icon-print: '\e624';
@icon-star-empty: '\e625';
@icon-download: '\e626';
@icon-private: '\e629';
@icon-present: '\e62a';
@icon-gift-registry: '\e62b';

@icon-calendar__font-size: 23px;

@toolbar-background: @color-white;
@toolbar-element-background: @color-white;

//
//  Sidebar
//  ---------------------------------------------

@sidebar__background-color: @color-white-smoke; //
