<?php
/**
 * Copyright @ Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php /* @var $block \Magento\Catalog\Block\Product\View\AbstractView */?>
<?php $_product = $block->getProduct() ?>

<?php if ($block->displayProductStockStatus()): ?>
    <?php if ($_product->isAvailable()): ?>
        <div class="stock available" title="<?= /* @escapeNotVerified */ __('Availability') ?>">
            <span class="stock-label-info"><?= /* @escapeNotVerified */ __('Availability:') ?></span>
            <span class="stock-label-txt"><?= /* @escapeNotVerified */ __('In Stock') ?></span>
        </div>
    <?php else: ?>
        <div class="stock unavailable" title="<?= /* @escapeNotVerified */ __('Availability') ?>">
            <span class="stock-label-info"><?= /* @escapeNotVerified */ __('Availability:') ?></span>
            <span class="stock-label-txt"><?= /* @escapeNotVerified */ __('Out of Stock') ?></span>
        </div>
    <?php endif; ?>
<?php endif; ?>
