.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
	.custom-slider {

		.columns {
			.column.main {
				width: 100%;
			}
		}
		.owl-carousel {
			.owl-item {
				.product-item {
					.product-item-info {
						background: none transparent !important;
						box-shadow: none;
						-o-box-shadow: none;
						-ms-box-shadow: none;
						-moz-box-shadow: none;
						-webkit-box-shadow: none;
					}
				}
			}
		}
	}
}

.custom-slider {

	.block.crosssell{
		.owl-stage{
			.owl-item{
				.product-item{
					width: 89% !important;
					.product-item-actions{
						text-align: center;
						.actions-primary{
							display: block;
						}
					}
				}
			}
		}
	}

	.clearfix {
		*zoom: 1;
		&:after {
			content: '';
			display: block;
			clear: both;
			height: 0;
		}
	}
}
