<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2018 Amasty (https://www.amasty.com)
 * @package Amasty_ShopbyBrand
 */
?>
<?php
    $class = 'amshopby-brand';
    $image = 'upsell_products_list';

    /* @var $block \Amasty\ShopbyBrand\Block\Catalog\Product\Brand */
    $items = $block->getBrands();
?>

<div class="block <?= /* @escapeNotVerified */ $class ?>">
    <?php foreach ($items as $_item) : ?>
        <div class="brand-title">
            <strong id="brand-<?= /* @escapeNotVerified */ $class ?>-heading" role="heading" aria-level="2">
                <?= /* @escapeNotVerified */ $_item->getTitle() ?>
            </strong>
        </div>
        <div class="brand-image">
            <a href="<?= /* @escapeNotVerified */ $_item->getImageUrl() ?>"
               class="product photo product-item-photo">
                <img src="<?= $_item->getImageUrl() ?>">
            </a>
        </div>
        <div class="brand-description">
            <?= /* @escapeNotVerified */ $_item->getDescription() ?>
            <?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('shipping')->toHtml();?>
        </div>
    <?php endforeach ?>
</div>
