<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Category view template
 *
 * @var $block \Magento\Catalog\Block\Category\View
 */
?>
<?php if ($_description = $block->getCurrentCategory()->getDescription()): ?>
    <div class="category-description">
            <div class="box-descr" id="descr">
                <?= /* @escapeNotVerified */ $this->helper('Magento\Catalog\Helper\Output')->categoryAttribute($block->getCurrentCategory(), $_description, 'description') ?>
            </div>
            <span class="show-descr">
                <span class="more-icon"><?= /* @escapeNotVerified */ __('Mostra di più') ?></span>
                <span class="less-icon"><?= /* @escapeNotVerified */ __('Hide') ?></span>
            </span>
    </div>
<?php endif; ?>

<script type="text/javascript">
require(['jquery'], function($){
    $('.show-descr').click(function() {
        if($(this).closest('.category-description').hasClass('open-txt')) {
            $(this).closest('.category-description').toggleClass('open-txt');
        } else {
            $(this).closest('.category-description').toggleClass('open-txt');
        }
    });
})
</script>
