.item.am-shopby-item {
    cursor: pointer;
}

#am-shopby-container .item.am-shopby-item {
    padding-left: 10px;
}

#am-shopby-container .action.remove::before {

    font-size: 9px;

}

@media all and (min-width: 768px) {

    #maincontent .columns .sidebar.sidebar-main {

        padding-top: 3rem;

    }
}

.columns .breadcrumbs {

    padding-top: 3.4rem;

}

.columns .breadcrumbs .item:not(:last-child)::after {
    margin-left: 0.1rem;

    margin-right: 0.1rem;
}

#maincontent .category-view .category-description .show-descr {

    margin-top: 0.5rem;

}

.item.product.product-item .stock.unavailable {

    background-color: #CECECE;
    text-transform: uppercase;
    font-size: 9px;
    color: white;
    position: absolute;
    top: 12px;
    left: 18px;
    padding: 1px;

}