<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php if ($detailedInfoGroup = $block->getGroupChildNames('detailed_info', 'getChildHtml')):?>
    <div class="product info detailed">
        <?php $layout = $block->getLayout(); ?>
        <div class="item-opisanie-list">
            <?php foreach ($detailedInfoGroup as $name):?>
                <?php
                    $html = $layout->renderElement($name);
                    if (!trim($html)) {
                        continue;
                    }
                    $alias = $layout->getElementAlias($name);
                    $label = $block->getChildData($alias, 'title');
                ?>
                <div class="item-opisanie-wrap">
                    <div class="item-opisanie-label"><?= /* @escapeNotVerified */ $label ?></div>
                    <div class="item-opisanie-content"><?= /* @escapeNotVerified */ $html ?></div>
                </div>
            <?php endforeach;?>
        </div>
    </div>
<?php endif; ?>
