<?php
    $_product = $block->getProduct();
    $differ = $this->helper('Magento\Catalog\Helper\Output')->productAttribute($_product, $_product->getDiffer(), 'differ'); 
    if(isset($differ) && '1' == $differ) :
?>
<div>
    Per questo articolo il prezzo in negozio è differente dal prezzo online.
    Per maggiori info contattaci <a href="mailto:info@emporiocattani.it" target="_blank">info@emporiocattani.it</a>
</div>
<?php endif; ?>
