/**
 * Copyright © Magefan (support@magefan.com). All rights reserved.
 * See LICENSE.txt for license details (http://opensource.org/licenses/osl-3.0.php).
 *
 * Glory to Ukraine! Glory to the heroes!
 */

    .blog-category-view .page-main,
    .blog-archive-view .page-main,
    .blog-tag-view .page-main,
    .blog-index-index .page-main,
    .blog-post-view .page-main {
        background: #ffffff;
    }

    .recent-posts {
        padding: 5rem 1.6rem 0;
        background: #fbfbfb;
    }

    .recent-posts a,
    .recent-posts a:hover {
        text-decoration: none;
    }

    .cms-index-index .recent-posts .page-title {
        text-align: center;
        position: relative;
        width: auto;
        height: auto;
        margin: 0;
        margin-bottom: 2.4rem;
    }

    .recent-posts-list {
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        width: 100%;
        -moz-flex-direction: column;
         -ms-flex-direction: column;
         -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
             flex-direction: column;
    }

    .recent-posts-item {
        display: block;
        margin-bottom: 3.2rem;
    }

    .recent-posts-image {
        margin-bottom: 1.6rem;
    }

    .recent-posts-img-link {
        display: block;
        text-decoration: none;
    }

    .recent-posts-img {
        display: block;
        width: 100%;
        height: auto;
    }

    .recent-posts-title {
        color: rgba(35,31,32,1);
        font-family: 'Nunito';
        font-size: 2rem;
        font-weight: bold;
        line-height: 1.3em;
        height: 1.3em;
        overflow: hidden;
        text-align: left;
        margin-bottom: 1.2rem;
    }

    .recent-posts-title a {
        color: rgba(35,31,32,1);
    }

    .recent-posts-title a:hover {
        color: #FFB74B;
        text-decoration: none;
    }

    .recent-posts-descr {
        opacity: 0.4;
        color: rgba(35,31,32,1);
        font-family: 'Nunito';
        font-size: 1.3rem;
        line-height: 1.385;
        margin: 0;
    }

    .recent-posts-descr p {
        margin: 0;
    }

    .post-list-wrapper .post-list {
        padding: 0;
        margin: 0;
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        width: 100%;
        -moz-flex-direction: column;
         -ms-flex-direction: column;
         -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
             flex-direction: column;
    }

    .post-list .post-holder {
        margin: 0;
        background: none;
        padding: 0;
        display: block;
    }

    .blog-category-view .sidebar .block,
    .blog-archive-view .sidebar .block,
    .blog-tag-view .sidebar .block,
    .blog-index-index .sidebar .block,
    .blog-post-view .sidebar .block {
        margin-bottom: 3.2rem;
    }

    .blog-category-view .sidebar .block .block-title,
    .blog-archive-view .sidebar .block .block-title,
    .blog-tag-view .sidebar .block .block-title,
    .blog-index-index .sidebar .block .block-title,
    .blog-post-view .sidebar .block .block-title {
        margin-bottom: 1.6rem;
        line-height: 1;
        font-size: 1.4rem;
        font-weight: bold;
    }

    .blog-category-view .sidebar .block .block-title strong,
    .blog-archive-view .sidebar .block .block-title strong,
    .blog-tag-view .sidebar .block .block-title strong,
    .blog-index-index .sidebar .block .block-title strong,
    .blog-post-view .sidebar .block .block-title strong {
        margin-bottom: 0;
        line-height: 1;
        font-size: 1.4rem;
    }

    .blog-category-view .sidebar .block,
    .blog-archive-view .sidebar .block,
    .blog-tag-view .sidebar .block,
    .blog-index-index .sidebar .block,
    .blog-post-view .sidebar .block {
        margin-bottom: 3.2rem;
    }

    .blog-category-view .sidebar .accordion,
    .blog-archive-view .sidebar .accordion,
    .blog-tag-view .sidebar .accordion,
    .blog-category-view .block-content,
    .blog-archive-view .block-content,
    .blog-tag-view .block-content,
    .blog-category-view .tagclaud-hld,
    .blog-archive-view .tagclaud-hld,
    .blog-tag-view .tagclaud-hld,
    .blog-index-index .sidebar .accordion,
    .blog-post-view .sidebar .accordion,
    .blog-index-index .block-content,
    .blog-index-index .tagclaud-hld,
    .blog-post-view .block-content,
    .blog-post-view .tagclaud-hld {
        list-style-type: none;
        margin: 0;
        padding: 0 1.6rem;
    }

    .blog-category-view .sidebar .accordion li,
    .blog-archive-view .sidebar .accordion li,
    .blog-tag-view .sidebar .accordion li,
    .blog-category-view .sidebar .item,
    .blog-archive-view .sidebar .item,
    .blog-tag-view .sidebar .item,
    .blog-index-index .sidebar .accordion li,
    .blog-post-view .sidebar .accordion li,
    .blog-index-index .sidebar .item,
    .blog-post-view .sidebar .item {
        display: block;
        margin: 0 0 2rem;
        line-height: 1;
        font-size: 1.4rem;
    }

    .blog-category-view .sidebar .item a,
    .blog-archive-view .sidebar .item a,
    .blog-tag-view .sidebar .item a,
    .blog-category-view .sidebar .accordion a,
    .blog-archive-view .sidebar .accordion a,
    .blog-tag-view .sidebar .accordion a,
    .blog-index-index .sidebar .item a,
    .blog-post-view .sidebar .item a,
    .blog-index-index .sidebar .accordion a,
    .blog-post-view .sidebar .accordion a {
        display: inline-block;
        margin: 0;
        font-weight: 400;
        line-height: 1;
        font-size: 1.4rem;
        color: #231F20;
    }

    .blog-category-view .sidebar .item a:hover,
    .blog-archive-view .sidebar .item a:hover,
    .blog-tag-view .sidebar .item a:hover,
    .blog-category-view .sidebar .accordion a:hover,
    .blog-archive-view .sidebar .accordion a:hover,
    .blog-tag-view .sidebar .accordion a:hover,
    .blog-index-index .sidebar .item a:hover,
    .blog-post-view .sidebar .item a:hover,
    .blog-index-index .sidebar .accordion a:hover,
    .blog-post-view .sidebar .accordion a:hover {
        color: #FFB74B;
    }

    .blog-category-view .sidebar .tagclaud-hld > span,
    .blog-archive-view .sidebar .tagclaud-hld > span,
    .blog-tag-view .sidebar .tagclaud-hld > span,
    .blog-index-index .sidebar .tagclaud-hld > span,
    .blog-post-view .sidebar .tagclaud-hld > span {
        display: block;
        font-size: 1.4rem;
        line-height: 1;
        margin-bottom: 1.8rem;
    }

    .blog-category-view .sidebar .tagclaud-hld > span > a,
    .blog-archive-view .sidebar .tagclaud-hld > span > a,
    .blog-tag-view .sidebar .tagclaud-hld > span > a,
    .blog-index-index .sidebar .tagclaud-hld > span > a,
    .blog-post-view .sidebar .tagclaud-hld > span > a {
        display: inline-block;
        font-size: 1.4rem;
        line-height: 1;
        margin: 0;
        color: #231F20;
        font-family: Nunito;
        text-align: center;
        padding: 0.8rem;
        border-radius: 2px;
        background: #E6E6E6;
    }

    .post-list-wrapper .post-list .post-header .post-title {
        margin: 0 0 0.7rem;
        padding: 0;
        float: none;
        font-size: 1.8rem;
        line-height: 1.3em;
        height: 2.6em;
        overflow: hidden;
    }

    .post-list-wrapper .post-list .post-header .post-title a {
        text-decoration: none;
        font-size: 1.8rem;
        color: #231F20;
        line-height: 1;
        font-weight: bold;
    }

    .post-list-wrapper .post-list .post-header {
        margin-bottom: 0.9rem;
    }

    .post-list-wrapper .post-list .post-posed-date {
        opacity: 0.6;
        color: #343841;
        font-family: 'Nunito';
        font-size: 1.2rem;
        line-height: 1.583;
    }

    .post-list-wrapper .post-list .post-info .dash,
    .post-list-wrapper .post-list .post-info .post-categories,
    .post-list-wrapper .post-holder .post-header .post-info .label {
        display: none;
    }

    .post-list-wrapper .post-list .post-ftimg-hld {
        float: none;
        margin: 0 0 2.1rem;
        width: 100%;
    }

    .post-list-wrapper .post-list .post-ftimg-hld a {
        display: block;
        line-height: 1;
    }

    .post-list-wrapper .post-list .post-text-hld {
        position: relative;
        margin: 0 0 0.9em;
    }

    .post-list-wrapper .post-list .post-text-hld:before {
        content: " ";
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, #FFFFFF 100%);
        background: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0)), to(#FFFFFF));
        background: linear-gradient(180deg, rgba(255,255,255,0) 0%, #FFFFFF 100%);
        z-index: 5;
    }

    .post-list-wrapper .post-list .post-content .post-read-more {
        padding-top: 0;
        float: none;
        color: #FFB74B;
        font-family: 'Nunito';
        font-size: 1.3rem;
        line-height: 1.077;
        display: inline-block;
    }

    .post-list-wrapper .post-list .post-holder {
        margin-bottom: 4rem;
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        width: 100%;
        -moz-flex-direction: column;
         -ms-flex-direction: column;
         -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
             flex-direction: column;
    }

    .post-list .post-holder:hover {
        -webkit-box-shadow: none;
                box-shadow: none;
    }

    .post-list .post-holder .post-header .post-info .value {
        font-style: normal;
    }

    .post-view .post-holder {
        margin-bottom: 0;
        background: #fff;
        padding: 0;
    }

    .post-view .post-holder:hover {
        -webkit-box-shadow: none;
                box-shadow: none;
    }

    .post-view .post-content .post-description .post-ftimg-hld {
        float: none;
        margin: 0;
        width: 100%;
        line-height: 1;
        margin-bottom: 4rem;
    }

    .post-view .post-description {
        color: #343841;
        font-family: 'Nunito';
        font-size: 1.4rem;
        line-height: 1.357;
    }

    .post-view .post-text-hld p {
        margin-bottom: 2.9rem;
    }

    .post-view .post-bottom {
        margin-top: 3.2rem;
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        width: 100%;
        -moz-flex-direction: column;
         -ms-flex-direction: column;
         -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
             flex-direction: column;
    }

    .post-view .block.related {
        text-align: center;
        -webkit-box-ordinal-group: 1;
            -ms-flex-order: 0;
                order: 0;
        padding: 2.6rem 0;
        background: #FBFBFB;
        margin-bottom: 3.2rem !important;
    }

    .post-view .block.related .product-item {
        padding-left: 0;
    }

    .post-view .block.related .products.list .product-item-info:hover,
    .post-view .block.related .products.list .product-item-info.active {
        background: none;
        -webkit-box-shadow: none;
                box-shadow: none;
        border: none;
        margin: 0;
    }

    .post-view .block.related .block-title,
    .post-view .block.related .product-item-actions {
        display: none;
    }

    .post-view .block.related .products.products-grid {
        margin: 0;
        padding: 0;
    }

    .post-view .block.related .product-items {
        margin: 0;
    }

    .post-view .block.related .products.list .product-item-info {
        padding: 0.8rem 1.2rem 0.8rem;
        background: none;
    }

    .post-view .post-nextprev-hld {
        margin-bottom: 1.4rem;
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2;
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        justify-content: space-between;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
    -moz-align-items: center;
     -ms-align-items: center;
   -webkit-box-align: center;
      -ms-flex-align: center;
         align-items: center;
        width: 100%;
    }

    .post-view .post-nextprev-hld.clearfix:after {
        display: none;
    }

    .post-view .post-bottom .post-nextprev-hld .prev-link,
    .post-view .post-bottom .post-nextprev-hld .next-link {
        float: none;
        display: inline-block;
        color: #343841;
        font-family: 'Nunito';
        font-size: 1.6rem;
        line-height: 1.375;
        font-weight: 400;
    }

    .blog-post-view .page-title {
        margin-bottom: 1.2rem;
    }

    .post-view .post-header .post-info {
        padding-bottom: 1.8rem;
    }

    .post-view .post-header .post-info .dash {
        display: none;
    }

    .post-view .post-holder .post-header .post-info .label {
        font-weight: 400;
    }

    .post-view .post-header .post-info .post-posed-date {
        margin-right: 1.6rem;
    }

    .post-view .post-header .post-info .post-categories {
        font-family: 'Nunito';
        font-size: 1.3rem;
        line-height: 1.077;
    }

    .post-view .post-holder .post-header .post-info .post-posed-date .label {
        display: none;
    }

    .post-bottom-tags {
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1;
        margin-bottom: 4.2rem;
    }

    .post-bottom-tags .item-tags-categories > a {
        display: inline-block;
        font-size: 1.4rem;
        line-height: 1;
        margin: 0 1.8rem 0 0;
        color: #231F20;
        font-family: Nunito;
        text-align: center;
        padding: 0.8rem;
        border-radius: 2px;
        background: #E6E6E6;
    }

@media only screen and (min-width: 768px) {

    .recent-posts {
        padding: 5.8rem 3.2rem;
    }

    .cms-home .recent-posts .page-main {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        max-width: 1440px;
        padding-right: 3.2rem;
        padding-left: 3.2rem;
    }

    .cms-index-index .recent-posts .page-title {
        margin-bottom: 3.2rem;
    }

    .recent-posts-list {
        -moz-flex-direction: row;
        -ms-flex-direction: row;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-direction: row;
        justify-content: space-between;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        -webkit-box-align: stretch;
            -ms-flex-align: stretch;
                align-items: stretch;
    }

    .recent-posts-item {
        display: block;
        margin-bottom: 0;
    }

    .recent-posts-item:first-child {
        margin-right: 3.2rem;
    }

    .recent-posts-item:last-child {
        margin-left: 3.2rem;
    }

    .recent-posts-image,
    .recent-posts-title {
        margin-bottom: 3.2rem;
    }

    .post-list-wrapper .post-list {
        -moz-flex-direction: row;
        -ms-flex-direction: row;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-direction: row;
        justify-content: space-between;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        -webkit-box-align: stretch;
            -ms-flex-align: stretch;
                align-items: stretch;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }

    .post-list-wrapper .post-list .post-holder {
        width: 50%;
    }

    .post-list-wrapper .post-list .post-holder:nth-child(odd) {
        padding-right: 1.4rem;
    }

    .post-list-wrapper .post-list .post-holder:nth-child(even) {
        padding-left: 1.4rem;
    }

    .blog-category-view .page-title,
    .blog-archive-view .page-title,
    .blog-tag-view .page-title,
    .blog-index-index .page-title {
        margin-bottom: 2.8rem;
    }

    .blog-category-view .columns,
    .blog-archive-view .columns,
    .blog-tag-view .columns,
    .blog-index-index .columns,
    .blog-post-view .columns {
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        -moz-flex-direction: row;
        -ms-flex-direction: row;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-direction: row;
    -moz-justify-content: flex-start;
     -ms-justify-content: flex-start;
        -webkit-box-pack: start;
           -ms-flex-pack: start;
         justify-content: flex-start;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    }

    .blog-category-view .columns .sidebar,
    .blog-archive-view .columns .sidebar,
    .blog-tag-view .columns .sidebar,
    .blog-index-index .columns .sidebar,
    .blog-post-view .columns .sidebar {
        float: none;
        width: 195px;
        margin-left: 2.9rem;
        -ms-flex-preferred-size: auto;
            flex-basis: auto;
        -webkit-flex-basis: auto;
        padding-left: 0;
    }

    .blog-category-view .columns .column.main,
    .blog-archive-view .columns .column.main,
    .blog-tag-view .columns .column.main,
    .blog-index-index .columns .column.main,
    .blog-post-view .columns .column.main {
        padding-right: 0;
        padding-left: 0;
        float: none;
        width: auto;
        display: block;
        -ms-flex-preferred-size: auto;
            flex-basis: auto;
        -webkit-flex-basis: auto;
    }

    .blog-category-view .sidebar .block,
    .blog-archive-view .sidebar .block,
    .blog-tag-view .sidebar .block,
    .blog-index-index .sidebar .block,
    .blog-post-view .sidebar .block {
        margin-bottom: 3.2rem !important;
    }
}
