// /**
//  * Copyright © 2018 Magento. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    .toolbar {

        .pages .items {
            display: none;
        }

        &.toolbar-products {
            margin: 0 0 1.6rem;
            .flex;
            .justify-content-end;
            .align-items-center;

            select {
                background-color: @color-white;
                box-shadow: none;
                border-radius: 2px;
                border: none;
                padding: 0.9rem 1.9rem 0.9rem 0;
                margin: 0;
                font-family: @font-family-name__nunito;
                color: @title_color;
                font-size: (@font-size__base - 0.1rem);
                text-align: left;
                line-height: 1.6667;
                font-weight: 500;
                width: auto;
                height: auto;
                text-indent: 0;

                option {
                    padding: 0.9rem 0;
                }
            }

            .sorter-label {
                font-family: @font-family-name__nunito;
                font-size: @font-size__base;
                line-height: 1.077;
                color: @title_color;
                display: inline-block;
                margin: 0 0.5rem 0 0;
                width: auto;
                white-space: nowrap;
            }
        }

        &-amount {
            display: none;
            float: none;
            margin: 0;

            .products.wrapper ~ .toolbar & {
                display: none;
            }
        }

        .pages {

            .items {
                font-size: 0;
                letter-spacing: 0;
                line-height: 0;
                margin: 0;
                padding: 0;
                list-style: none none;
                display: inline-block;
                font-weight: 400;
            }

            .item {
                font-size: @font-size__base;
                font-family: @font-family-name__nunito;
                letter-spacing: normal;
                line-height: 1.5rem;
                margin: 0 4px 0 0;
                display: inline-block;
            }

            strong.page {
                background: none;
                font-size: @font-size__base;
                font-family: @font-family-name__nunito;
                letter-spacing: normal;
                line-height: 1;
                color: @title_color;
                display: inline-block;
                font-weight: 400;
                padding: 0;
            }

            .action {
                box-shadow: none;
                border-radius: 0;
                padding: 0;
                color: @title_color;
                border: none;
                font-size: 1rem;
            }

            .pages-items .action.next {
                margin-left: 4px;
            }

            .pages-items .action.previous {
                margin-right: 4px;
            }

            .action.previous:visited:before,
            .action.next:visited:before {
                color: @title_color;
            }

            .pages-items .action.previous:before,
            .pages-items .action.next:before {
                font-size: 1rem;
                color: @title_color;
                text-align: center;
            }

        }
    }

    .sorter {
        float: none;
        position: relative;
        right: 0;
        .flex;
        .justify-content-end;
        .align-items-center;
    }

    .modes {
        display: none;
    }

    .limiter {
        display: none;

        &-options {
            margin: 0 5px 0 7px;
            width: auto;
        }

        &-label {
            font-weight: 400;
        }

        .page-products .toolbar & {
            display: none;
        }

        .control {
            display: inline-block;
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {


}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

    .toolbar {

        .pages .items {
            margin-right: 1rem;
            display: inline-block;
        }

        &.toolbar-products {
            margin: 0 0 2.8rem;

            select {
                box-shadow: none;
                border-radius: 2px;
                border: 1px solid rgba(35,31,32,0.15);
                padding: 0.88rem 3.45rem 0.88rem 1.3rem;
                margin: 0;
                font-size: @font-size__base;
                line-height: 1.077;
                font-weight: 400;
                width: auto;
                height: auto;

                option {
                    padding: 0.9rem 1.3rem;
                }
            }

            .sorter-label {
                margin: 0 1.2rem 0 0;
            }
        }

        &-amount {
            display: block;
            font-size: @font-size__base;
            line-height: 1;
            margin-right: 1.4rem;
        }
    }

}
