// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@account-title-border-color: @color-gray-middle2;
@account-table-border-bottom-color: @color-gray-middle1;
@account-table-action-delete: @color-red12;

@_password-default: @color-gray-light01;
@_password-weak: #ffafae;
@_password-medium: #ffd6b3;
@_password-strong: #c5eeac;
@_password-very-strong: #81b562;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    .customer-account-login,
    .customer-account-create {

        .page-title-wrapper {
            display: none;
        }
    }

    .block-addresses-default {
        .box-actions {
            margin: 1rem 0;
        }
    }

    .block-social-accounts-link {

        .social-login-list {
                margin-top: 3.2rem;
                margin-bottom: 4.8rem;

                .social-login-btn {
                    display: block;
                    width: 100%;
                    margin-bottom: 1.6rem;
                    text-shadow: none;
                    box-shadow: none;
                    border-radius: 2px;
                    border: none;
                    color: @color-white;
                    font-family: Nunito;
                    font-size: 1.3rem;
                    font-weight: bold;
                    line-height: 1.077;
                    text-align: center;
                    padding: 1.3rem 0;

                    .social-login-icon {
                        box-shadow: none;
                        border: none;
                        background-color: transparent;

                        &-facebook {
                            background-position: 3px -25px;
                        }

                        &-twitter {
                            background-position: 3px 5px;
                        }
                    }

                    &-facebook {
                        background-color: #39579A;
                    }

                    &-twitter {
                        background-color: #059FF5;
                    }
                }
        }
    }

    .block {

            .block-title {
                margin-bottom: 1.3rem;
                color: @title_color;
                font-family: @font-family-name__nunito;
                font-size: 2rem;
                font-weight: bold;
                line-height: 1.65;
                .flex;
                .justify-content-between;
                .align-items-center;

                strong {
                    display: inline-block;
                    color: @title_color;
                    font-family: @font-family-name__nunito;
                    font-size: 2rem;
                    font-weight: bold;
                    line-height: 1.65;
                }

                a {
                    display: inline-block;
                    color: @theme-color;
                    font-size: 1.4rem;
                    line-height: 1.357;
                    text-align: right;
                }
            }
    }

    .customer-account-login,
    .customer-account-create,
    .customer-account-forgotpassword {
        color: rgba(35,31,32,0.4);
        font-family: @font-family-name__nunito;
        font-size: @font-size__base;
        line-height: 1.385;

        .fieldset .field.required > .label:after,
        .fieldset .fields > .field.required > .label:after,
        .fieldset .field._required > .label:after,
        .fieldset .fields > .field._required > .label:after {
            content: '*';
            color: @title_color;
            font-size: @font-size__base;
            margin: 0 0 0 0.15rem;
            font-weight: 400;
            line-height: 1.385;
        }

        .page-main .form {

            label {
                color: @title_color;
                font-family: @font-family-name__nunito;
                font-size: @font-size__base;
                line-height: 1;
                margin-bottom: 10px;
                display: inline-block;
            }

            .field {
                margin-bottom: 22px;
                position: relative;
            }
        }

        p {
            margin-bottom: 2.4rem;
        }

        .page-main {
            background: @foreground_color;
            padding-top: 2.4rem;
        }

        .login-container {

            .block-title {
                border-bottom: none;
                display: block;
                margin: 0 0 1.2rem;
                padding: 0;
                color: @title_color;
                font-family: @font-family-name__nunito;
                font-size: 2rem;
                font-weight: bold;
                line-height: 1;
            }
        }

        .block-customer-login {

            .field.note {
                margin-bottom: 1.8rem;
            }
        }

        .control-requed {
            display: block;
            text-align: left;
            margin-top: 0.6rem;
        }

        .social-login-list {
                margin-top: 3.2rem;
                margin-bottom: 4.8rem;

                .social-login-btn {
                    display: block;
                    width: 100%;
                    margin-bottom: 1.6rem;
                    text-shadow: none;
                    box-shadow: none;
                    border-radius: 2px;
                    border: none;
                    color: @color-white;
                    font-family: Nunito;
                    font-size: 1.3rem;
                    font-weight: bold;
                    line-height: 1.077;
                    text-align: center;
                    padding: 1.3rem 0;

                    .social-login-icon {
                        box-shadow: none;
                        border: none;
                        background-color: transparent;

                        &-facebook {
                            background-position: 3px -25px;
                        }

                        &-twitter {
                            background-position: 3px 5px;
                        }
                    }

                    &-facebook {
                        background-color: #39579A;
                    }

                    &-twitter {
                        background-color: #059FF5;
                    }
                }
        }

        .actions-toolbar {

            .btn-custom {
                width: 100%;
                max-width: 320px;
                text-align: center;
            }
        }
    }

    .login-container {
        .flex;
        .flex-direction-column;

        .action.remind {
            margin-top: 1.6rem;
            display: inline-block;
        }
    }

    .customer-account-create {

        .page-main {
            padding-bottom: 1.6rem;
        }

        .social-login-list {
            margin-top: 0;
        }

        .fieldset > .legend {
            border-bottom: none;
            display: block;
            margin: 0 0 2.5rem;
            padding: 0;
            color: @title_color;
            font-family: @font-family-name__nunito;
            font-size: 2rem;
            font-weight: bold;
            line-height: 1;

             > span {
                margin-right: 0;
            }
        }

        .create-akk-container {
            .flex;
            .flex-direction-column;

            .soc-akk {
                margin-top: 4rem;
            }
        }

        .fieldset {
            border: 0;
            margin: 0;
            padding: 0;
            letter-spacing: 0;
        }
    }

    .account {

        .fieldset > .legend {
            border-bottom: none;
            display: block;
            margin: 0 0 2.5rem;
            padding: 0;
            color: @title_color;
            font-family: @font-family-name__nunito;
            font-size: 2rem;
            font-weight: bold;
            line-height: 1;

             > span {
                margin-right: 0;
            }
        }

        .return-status,
        .order-status {
            background-color: #D7EDD9;
            box-shadow: none;
            display: inline-block;
            padding: 0.7rem 0.8rem;
            color: @title_color;
            font-family: @font-family-name__nunito;
            font-size: 1.1rem;
            font-weight: bold;
            line-height: 1;
            text-align: center;
            margin: 0;
            border-radius: 2px;
            border: none;
        }

        .return-status {
            background-color: #CFCECE;
        }

        .order-date {
            margin: 1.6rem 0 !important;
            display: block;
            float: none;
            color: @title_color;
            font-size: 1.4rem !important;
        }

        ul {
            padding: 0;
            margin: 0;
            list-style-type: none;

            &.order-links .item a {
                background: @footer_bg;
                color: @title_color;
                padding: 1.6rem 3.2rem;

                &:hover {
                    text-decoration: none;
                    background: @color-white;
                    color: @title_color;
                }
            }

            &.order-links .item strong {
                background: @color-white;
                color: @title_color;
                padding: 1.6rem 3.2rem;
            }
        }

        .actions-toolbar {
            margin-top: 1.6rem;
        }

        .page-main {
            background: @foreground_color;
            padding: 1.6rem 1.6rem 0;
        }

        .columns {
            background: @foreground_color;
            padding: 0;

            > .main {
                .flex;
                .flex-direction-column;
            }
        }

        .sidebar-main {

            .title {
                display: none;
            }

            ul {
                padding: 0;
                margin: 0;
                list-style-type: none;

                 > li {
                    margin: 0;
                    opacity: 0.6;
                    color: @title_color;
                    font-family: @font-family-name__nunito;
                    font-size: @font-size__base;

                    a,
                    span,
                    strong {
                        display: inline-block;
                        line-height: 2;
                        font-weight: 400;
                        color: @title_color;
                    }
                }
            }

            .delimiter {
                display: none;
            }
        }

        .sidebar-additional {

            .block-reorder {
                display: none;
            }
        }

        .block-dashboard-info,
        .block-dashboard-addresses {

            .block-title {
                margin-bottom: 1.3rem;
                color: @title_color;
                font-family: @font-family-name__nunito;
                font-size: 2rem;
                font-weight: bold;
                line-height: 1.65;
                .flex;
                .justify-content-between;
                .align-items-center;

                strong {
                    display: inline-block;
                    color: @title_color;
                    font-family: @font-family-name__nunito;
                    font-size: 2rem;
                    font-weight: bold;
                    line-height: 1.65;
                }

                a {
                    display: inline-block;
                    color: @theme-color;
                    font-size: 1.4rem;
                    line-height: 1.357;
                    text-align: right;
                }
            }

            .block-content {
                .flex;
                width: 100%;
                .justify-content-between;
                .flex-wrap-wrap;

                > .box {
                    width: 100%;
                    border-radius: 6px;
                    background-color: @footer_bg;
                    color: @title_color;
                    font-family: @font-family-name__nunito;
                    font-size: 1.4rem;
                    line-height: 1.5;
                    padding: 2.5rem 2.4rem 2.2rem;
                }

                .box-title {
                    color: @title_color;
                    font-family: @font-family-name__nunito;
                    display: block;
                    margin-bottom: 2.3rem;
                    font-size: 1.6rem;
                    line-height: 1.5;
                }

                .box-content {
                    margin-bottom: 2.3rem;
                }

                .box-actions {
                    font-family: @font-family-name__nunito;
                    font-size: 1.4rem;

                    a {
                        display: inline-block;
                        margin-right: 2.6rem;
                        color: @theme-color;
                        font-family: @font-family-name__nunito;
                        font-size: 1.4rem;
                        line-height: 1.357;
                    }
                }
            }
        }

        .block-dashboard-orders {
            order: -1;

            .block-title {
                margin-bottom: 2.1rem;
                color: @title_color;
                font-family: @font-family-name__nunito;
                .flex;
                .justify-content-between;
                .align-items-center;

                strong {
                    display: inline-block;
                    color: @title_color;
                    font-family: @font-family-name__nunito;
                    font-size: 2rem;
                    font-weight: bold;
                    line-height: 1.65;
                }

                a {
                    display: inline-block;
                    color: @theme-color;
                    font-size: 1.4rem;
                    line-height: 1.357;
                    text-align: right;
                }
            }
        }

        table > thead > tr > th,
        table > tbody > tr > th,
        table > tfoot > tr > th {
            padding: 1.8rem 1.6rem;
            border-bottom: 1px solid @border_review;
            color: #BDBCBC;
            font-family: @font-family-name__nunito;
            font-size: 1.3rem;
            line-height: 1.077;
            font-weight: 400;
        }

        table > thead > tr > td,
        table > tbody > tr > td,
        table > tfoot > tr > td {
            padding: 2.3rem 1.6rem;
            color: @title_color;
            font-family: @font-family-name__nunito;
            font-size: 1.6rem;
            line-height: 1;
        }

        .table > tbody > tr > td {
            border: none;
        }
    }

}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

    .customer-account-login,
    .customer-account-create {

        .page-main {
            padding-top: 4.8rem;
        }

        .login-container {

            .block-title {
                border-bottom: none;
                display: block;
                margin: 0 0 0.6rem;
                padding: 0;
                font-size: 2.4rem;
                line-height: 1.375;
            }
        }

        .block-customer-login {

            .field.note {
                margin-bottom: 3.6rem;
            }
        }

        .actions-toolbar {

            .btn-custom {
                width: 100%;
                max-width: 320px;
                text-align: center;
            }

            .primary {
                display: block;
                text-align: left;

                &:last-child {
                    float: none;
                    text-align: left;
                }
            }
        }

        .social-login-list {
            margin-top: 5.3rem;
            margin-bottom: 1.6rem;
        }
    }

    .login-container {
        .flex;
        .flex-direction-row;
        .justify-content-between;
        position: relative;
        max-width: 906px;
        margin: 0 auto;

        .block-customer-login {
            max-width: 321px;
        }

        .block-new-customer {
            max-width: 436px;
        }

        .action.remind {
            margin-top: 1.6rem;
            display: inline-block;
        }
    }

    .customer-account-create {

        .page-main {
            padding-bottom: 3.2rem;
        }

        .social-login-list {
            margin-top: 0;
        }

        .fieldset > .legend {
            border-bottom: none;
            display: block;
            margin: 0 0 2.1rem;
            padding: 0;
            font-size: 2.4rem;
            line-height: 1.375;
        }

        .create-akk-container {
            .flex;
            .flex-direction-row;
            .justify-content-between;
            position: relative;
            max-width: 906px;
            margin: 0 auto;

            .form-akk {
                max-width: 321px;

                .actions-toolbar {
                    margin-top: 0;
                }
            }

            .soc-akk {
                max-width: 436px;
                margin-top: 0;

                .social-login-list {
                    max-width: 320px;
                    width: 320px;
                }
            }

            .action.remind {
                margin-top: 1.6rem;
                display: inline-block;
            }
        }
    }

    .account {

        .actions-toolbar {
            margin-top: 3.2rem;

            .secondary {
                margin-left: 2rem;
            }
        }

        .page-main {
            background: @foreground_color;
            padding: 3.2rem 3.2rem;
        }

        .columns {
            padding: 0;
        }

        .block-dashboard-info,
        .block-dashboard-addresses {

            .block-title {
                margin-top: 4.8rem;
            }

            .block-content {
                .align-items-stretch;

                > .box {
                    width: 48%;
                    position: relative;
                    padding: 2.5rem 2.4rem 4.2rem;
                }

                .box-actions {
                    position: absolute;
                    bottom: 2.2rem;
                    left: 2.4rem;
                    z-index: 2;
                }
            }
        }

        .block-dashboard-orders {

        }

        .table > tbody > tr > td {
            border: none;
        }
    }
}
